body {
  color: #000;
  /*background-image:url(pic/body.png);
  background-repeat:repeat;*/
  margin: 0;
  padding: 0;
  font-family: Georgia, Palatino, serif;
}

#title {
	color:#FFF;
	height: 80px;
	margin:0;
	background-image:url(pic/topbanner2.png);
	background-repeat:repeat-x;
}

#title a {
	color: #FFF;
	text-decoration: none;
}

#title h1 {
	position:relative;
	width: 800px;
	left: 50px;
	top: 10px;
}

#nav {
	height: 30px;
	color:#FFF;
	background-image:url(pic/navbanner.png);
	background-repeat:repeat;
}

#container {
	margin: auto;
	margin-top: 30px;
	width: 960px;
	/*background-image:url(pic/stateBorder.png);
	background-repeat:repeat-y;*/
	/*height:720px;*/
}

#nav ul{
	width: 960px;
	height: 30px;
	list-style: none;
	position: relative;
	margin: auto;
}

#nav li{
	display:inline;
	margin:-2px;
}

#nav a:link, #nav a:visited {
	font-size:16px;
	display:inline-block;
	height: 24px;
	width: 149px;
	padding: 2px 4px 2px 4px;
	color: #FFF;
	background-color: #000;
	/*background-color: #FFC900;*/

	text-decoration: none;
	border: 1px solid #666;
	top: -1px;
}

#nav a:hover {
	color: #FFF;
	background-color: #666;
}

#state {
	float:left;
	width: 300px;
	/*height: 680px;*/
	padding: 10px;
	
	border-right: 1px #CCC inset;
}

#content {
	float:left;
	width: 610px;
	/*height: 604px;*/
	padding: 10px;
}

#foot {
	clear:both;
	margin:auto;
	height:29px;
	width: 960px;
	text-align: right;
	color: #999;
	position:relative;
	bottom: -10px;
	border-top: 1px  #ececec inset;

}

h2 {
	color:#FFF;
	display:block;
	background-color:#990000;
	padding-left: 10px;
	font-size: 18px;
}

h3 {
	font-size:14px;
}

p {
	font-size: 12px;
}

.ImgLegend {
	width: 600px;
	background-color:#CCC;
	font-size: 12px;
	padding: 5px
}
.ImgLegend img {
	margin:0;
	border:0;
}

#state h2 {
	background-color: #333;
}

#pledge {
	margin-top: 10px;
}

#pledge a{
	margin: auto;
	font-size:16px;
	display:inline-block;
	background: #990000;
	color: #FFF;
	width: 150px;
	height: 30px;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
}

#content p {
	text-indent: 2em;
}

#content img {
	float: left;
	margin: 0 10px 6px 0;
}

#content table {
	width: 100%;
	font-size: 14px;
}

#orgnizers {
	float:right;
}

#content table tr.title {
	font-weight:bold;
}